<section>
    <div class="cntSectionAcerca">
        <div class="cntSectionAcerca-Titles">
            <div class="cntSectionAcerca_1">
                <h2>Acerca de</h2>
            </div>
            <div class="cntSectionAcerca_2">
                <img class="cntHeader-lapiz" src="./assets/images/lapiz.png" alt="lapiz">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rerum, omnis magnam at pariatur excepturi porro consequatur assumenda repellat, praesentium harum blanditiis ipsa facilis optio? Voluptatibus eaque impedit vero non?</p>
    </div>
</section>