<section>
    <div class="cntSectionExperiencia">
        <div class="cntSectionExperiencia-Titles">
            <div class="cntSectionExperiencia_1">
                <h2>Experiencia</h2>
            </div>
            <div class="cntSectionExperiencia_2">
                <img class="cntHeader-lapiz" src="./assets/images/lapiz.png" alt="lapiz">
            </div>
        </div>
        <ul>
            <li *ngFor="let experience of miPortfolio">{{experience.league}}-{{experience.equipment}}</li>
        </ul>
    </div>
</section>